<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YUMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C3CE77781D7E63F1009964A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3CE77911D7E63F1009964A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3CE779C1D7E63F2009964A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
